# 06-Feb-2026: First commit

/.vscode*
/paper*
/__pycache__
/lab
/storage
/data
/models
/temp
/results
temp/
/.streamlit
/code-storage
temp_sensor_data*
Model_Training_Results*
verify*
Verify*
Test*
test*
*.xls
Evaluation_Results*
*.ipynb
checkpoint*
.DS_*
Thesis_Work*
*.aux
*.log
*.out
*.fdb_latexmk
*.fls

